body {
    background: antiquewhite;
    width: 1300px;
    margin: 0 auto;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin:0;
    padding:0;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}